<form action="/scan" method="post">
  <div class="form-group">
    <label>
      <input name="duplex" type="checkbox">
      Beidseitig scannen?
    </label>
  </div>
  <div class="form-group" style="clear: both;">
    <div style="float: left">
    <label>
      <input name="timestamp" value="{{ .Timestamp }}">
      Datum
      </label>
    </div>
    <label>
      <select name="template">
        {{ range .Prefixes }}
        <option name="{{ . }}">{{ . }}</option>
        {{ end }}
        </select>
      Template
      </label>

    </div>
    <div style="float: left">
    <label>
      <input name="name" value="">
      Name
      </label>
    </div>
  </div>
  <div class="form-group" style="clear: both;">
  <input type="submit" value="Jo" class="btn">
  </div>
</form>
